
<div class="ui card">
    <div class="content">
        <p class="header">
                <%= @artist.name %>
        </p>
        <img class="ui image" src="https://robohash.org/<%= @artist.picture %>?set=set2" />
        <% @artist.songs.each do |song| %>
            <%= render 'songs/song', { song: song } %>
        <% end %>
    </div>
        


    <div class="extra content">
        <%= link_to 'Add a song', new_artist_song_path(@artist) %>
        <%= link_to 'Back', artists_path %>
        <%= link_to 'Edit Artist', edit_artist_path(@artist) %>
        <%= link_to 'Remove Artist', artist_path(@artist), method: :delete %>
    </div>

</div>