<div class="ui card">
    <h1><%= @chart.genre %></h1>

    <% @chart.songs.each do |song| %>
        <%= song.title %> 
    <% end %>
    
    <%= link_to 'Edit', edit_chart_path %>
    <%= link_to 'Remove', chart_path, method: :delete %>
    <%= link_to 'Back to All', charts_path %>


</div>
