<div class="ui card">
    <h1><%= @chart.genre %></h1>

    <% @chart.songs.shuffle.each_with_index do |song, index| %>
        <%= "##{index + 1} #{song.title} - #{song.artist.name}" %>
        <br/>
    <% end %>
    
    <%= link_to 'Edit', edit_chart_path %>
    <%= link_to 'Remove', chart_path, method: :delete %>
    <%= link_to 'Back to All', charts_path %>


</div>
