<h1>Add a song</h1>
<%= form_for [@artist, @song] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :genre %>
    <%= f.text_field :genre %>

    <%= f.label :length %>
    <%= f.number_field :length, step: 0.01 %>
    
    <%= f.label :chart_id, "Select a chart" %>
    <%= f.select  :chart_id, options_for_select([['none', nil], ['Top 100 US', 9], ['Top 100 Euro', 10], ['Hot 100', 11]]) %>
    <%= f.submit %>
<% end %>
